.body{
       margin: 0;
}

.header {
       background-color: #eff0f2;
}
.header-contact {
       margin-top: 150px;
       padding-bottom: 195px;
}
.header-nav {
       padding-top: 64px;
       margin-bottom: 204px;
}
.logo:hover{
       cursor: pointer;
}
.menu{
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       align-items: flex-end;
       position: relative;
}
.menu:hover > *{
       cursor: pointer;
       display: flex;
}

.modal-list{
       /* position: absolute; 
       left: 0;
       top: 0; */
       width: 130px; 
       color: white;
       background-color: rgb(230, 230, 230);
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: flex-start;
       box-shadow: -5px 5px 10px 0 gray;
       display: none;
       position: absolute;
       left: -70px;
       top: 22px;
}
  

.a-link {
       border-bottom: 1px solid gray;
       box-sizing: border-box;
       color: black;
       width: 100%;
       height: 50px;
       display: flex;
       align-items: center;
       padding: .5rem;
}
.a-link:hover {
       background-color: white;
       text-decoration: none;
}

.a-link:last-child {
       border-bottom: none;
}
.title {
       text-transform: uppercase;
       text-align: center;
       font-size: 42px;
       font-weight: bold;
       font-family: 'Montserrat', sans-serif;
       text-shadow: 5px 8px 7px rgba(0, 0, 0, .2);
       color: #505050;
}

.colored-text {
       background-color: #b2f2ee;
       padding: 7px 10px;
}

.header-button {
       width: calc(100% + 60px);
       height: 52px;
       border: 2px solid #777879;
       text-transform: uppercase;
       display: flex;
       align-items: center;
       justify-content: center;
       font-family: 'Montserrat', sans-serif;
}
.header-button:hover {
       cursor: pointer;
}
.btn-img {
       position: relative;
       left: 0;
       top: 27px;
}
.featured {
       padding-top: 130px;
       padding-bottom: 125px;
}

.about-block{
       padding-top: 145px;
       padding-bottom: 110px;
}
.about-us {
       padding-top: 130px;
       background-color: #f8fafa;
}

.title-big {
       font-size: 38px;
       font-weight: bold;
       font-family: 'Montserrat', sans-serif; 
       text-transform: uppercase;
       color: #343434;
       margin-bottom: 17px;
}

.title-small {
       font-family: 'Merriweather', serif; 
       font-size: 17px;
       text-transform: uppercase; 
       color: #888888;  
}
.text-header{
       font-size: 20px;
       font-weight: bold;
       font-family: 'Montserrat', sans-serif; 
       text-transform: uppercase;
       color: #343434;
       margin-top: 10px;
}
.text-paragraph{
       font-family: 'Merriweather', serif; 
       font-size: 16px;
       color: #888888; 
       margin: 25px 0;
       
}
.progress-img{
       padding-top: 45px;
}
.card-img {
       padding-top: 30px;
}

/* ----------- OUR SERVICES------------ */
.services {
       background-color: #eff0f2;
       padding-top: 130px;
       padding-bottom: 125px;
}

.card {
       width: 100%;
       height: 365px;
       background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
       border: none;
       border-radius: 0;
       margin-bottom: 30px;
}

.card-big{
       height: 420px;
}

.card-first {
       width: 100%;
       height: 100%;
       background: rgba(0,0,0, .6);
       color: white;
       padding: 55px 65px;
       box-sizing: border-box;
       display: flex;
       align-items: flex-end;
       position: relative;
}

.card-first:hover > .second-content {
       opacity: 1;
       /* display: block; */
}

.first-content {
       display: flex;
       flex-direction: column;  
}

.content-title {
       text-transform: uppercase;
       font-family: 'Merriweather', serif; 
       font-weight: bold;
       font-size: 20px;
       word-spacing: 5px;
}
.content-text {
       font-family: 'Raleway', sans-serif;
       font-weight: 400;
       margin-bottom: 60px;
}

.content-link {
       font-family: 'Raleway', sans-serif;
       font-weight: bold;
       text-transform: uppercase;
       font-size: 18px;
}

.second-content {
       width: 100%;
       height: 100%;
       background-color: #c0b397;
       position: absolute;
       z-index: 1;
       left: 0;
       top: 0;
       /* display: none; */
       opacity: 0;
       transition: 0.5s; 
       padding: 62px 115px 55px 65px; 
       box-sizing: border-box;     
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       align-items: flex-start; 
}



/* .second-content:hover{
       opacity: 1;
} */

.text-content {
       height: 210px;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
}

.eat {
    background-image: url('../img/home_1.jpg');
}
.docs {
    background-image: url('../img/home_2.jpg');   
}
.comp-1 {
     background-image: url('../img/home_3.jpg');
}
.comp-2 {
       background-image: url('../img/home_4.jpg');
  }
.comp-3 {
       background-image: url('../img/home_6.jpg');
  }
.comp-4 {
       background-image: url('../img/home_5.jpg');
    }
.row-offset{
       margin-top: 20px;
}
/* ----------- OUR SERVICES------------ */





/* --------------- TEAM ----------------- */
.team {
       padding-top: 130px;
       padding-bottom: 125px;
}

.row-offset{
       margin-top: 20px;
}

.title-offset {
       margin-bottom: 125px;
}
.card_content_team {
       width: 100%;
       height: 440px;
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       display: flex;
       justify-content: center;
       align-items: flex-end;
       position: relative;
}

@media (max-width: 768px) {
       .card_content_team {
              width: 300px;
              margin-bottom: 15px;
       } 
       .mobile {
             display: flex;
             justify-content: center;
             align-items: center; 
       }
}
.photo_team-1 {
       background-image: url(../img/people_1.jpg);
}

.photo_team-2 {
       background-image: url(../img/people_2.jpg);
}

.photo_team-3 {
       background-image: url(../img/people_3.jpg);
}

.photo_team-4 {
       background-image: url(../img/people_4.jpg);
}

.photo_team-5 {
       background-image: url(../img/people_5.jpg);
}

.card_team {
       width: 18rem;
       height: 12rem;
       background-color: #c0b397;
       border-radius: .3rem;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       align-items: flex-start;
       z-index: 1;
       opacity: 0;
       transition: 0.5s;
       margin-bottom: 1rem;
       padding: .5rem;
       /* left: 0;
       top: 0;
       position: absolute;  */
}

.card_team::before {
       content: '';
       margin-top: -1.3rem;
       margin-left: .3rem;
       border-left: 7px solid transparent;
       border-right: 7px solid transparent;
       border-bottom: 14px solid #c0b397;
}

.card_content_team:hover > * {
       opacity: 1;
}
.title-big-team {
       font-size: 17px;
       font-weight: bold;
       font-family: 'Montserrat', sans-serif; 
       color: #343434;
       margin-left: 1rem;
       margin-right: 1rem;
       margin-top: 2rem;
}

.title-small-team {
       font-family: 'Merriweather', serif; 
       font-size: 13px;
       text-transform: uppercase; 
       color: #888888; 
       margin-left: 1rem;
       margin-right: 1rem; 
}

.social-icon {
       width: 8rem;
       display: flex;
       justify-content: space-around;
       align-items: center;
       margin-left: .4rem;
       margin-bottom: 1rem;
}

.row-marginbot {
       margin-bottom: 30px;
}
/* --------------- TEAM ----------------- */